html, body {
    font-size:14px;
    font-weight: bolder;
    font-family: Calibri;
    cursor:default;
    width: 100%;
    height: 100%;
    background: grey;
    margin: 0;
}

.main_container {
    overflow-x:hidden;
    overflow-y:hidden;
    width: 100%;
    height: 100%;
    background: white;
}

.elements_container {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.main_logo {
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 45%;
    background-image: url("../assets/BWW_Logo.jpg");
    background-size: 100% 100%;
    border: 4px grey solid;
}

.function_container {
    text-align: center;
    height: 45%;
    width: 50%;
    background: grey;
    border: 4px gold solid;
}
#button_container {
    display: inline-block;
}
#order_container {
    display: none;
}
#pay_container {
    display: none;
}
#view_container {
    display: none;
}
#calling_container {
    display: none;
}
#tool_container {
    display: none;
}

#nav_table {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.food_table {
    padding: 10px;
    margin: auto;
}
#employee_table {
    padding: 10px;
    margin: auto;
}
.order_td {
    width: 100px;
    height: 25px;
    border: 2px solid goldenrod;
    background: ghostwhite;
    font-style: italic;
    font-weight: bolder;
    font-family: Calibri;
}
tr, td {
}

.nav_buttons{
    width: 85%;
    height: 85%;
    font-size: 35px;
    font-weight: bolder;
    font-family: Calibri;
}
.return_button {
    width: 150px;
    height: 10%;
    font-size: 20px;
    font-weight: bolder;
    font-family: Calibri;
}
.tool_button {
    width: 150px;
    height: 10%;
    font-size: 15px;
    margin: 10px;
    font-weight: bolder;
    font-family: Calibri;
}
#cancel_button {
    width: 150px;
    height: 15%;
    margin-top: 100px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Calibri;
}
#place_order_button {
    width: 150px;
    height: 10%;
    font-size: 20px;
    font-weight: bolder;
    font-family: Calibri;
}
#place_order_button:hover, #cancel_button:hover, .tool_button:hover, .return_button:hover, .nav_buttons:hover {
    background-size: 100%;
    background-color: goldenrod;
}
#place_order_button:active, #cancel_button:active, .tool_button:active, .return_button:active, .nav_buttons:active {
    background-color: darkgoldenrod;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#total_cost {
    text-align: center;
    width: 90%;
}
.tbl_price_1, .tbl_price_2, .tbl_price_3, .tbl_price_4 {
    width: 100px;
    text-align: center;
}

h3 {
    float: right;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url("../assets/icons8-gear-24.png");
    background-size: 100%;
}
h3:hover {
    transform: translateY(1px);
}
h3:active {
    transform: translateY(3px);
}

#dialog {
    display: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: grey;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 3px solid goldenrod;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}